{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(RegistrationFormType) }}
        {{ form_row(RegistrationFormType.email) }}
        {{ form_row(RegistrationFormType.plainPassword) }}
        {{ form_row(RegistrationFormType.agreeTerms) }}

        <button class="btn">Register</button>
    {{ form_end(RegistrationFormType) }}
{% endblock %}
